@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: 0deg 0% 100%;
    --color-content: 217deg 32.6% 17.5%;
  }
	@media (prefers-color-scheme:dark){
  :root {
    --color-bkg: 215deg 27.9% 16.9%;
    --color-content: 217deg 32.6% 17.5%;
  }
	}
	body {
    @apply bg-white text-black dark:bg-gray-800	 dark:text-white; 
	}
}

@layer components {
	.nav-link {
		@apply font-medium text-gray-500 hover:text-gray-400 md:py-6 dark:text-gray-400 dark:hover:text-gray-500
	}
}